.availabilityTest {
  display: none;
}

.webGlError {
  font-family: monospace;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 1.5em;
}
